body {
  /* --background: var(--black); */
  --accent: var(--black);
  margin: 0;
  background-color: var(--background);
  color: var(--accent);
}

.connecting-line {
  position: absolute;
  left: 0;
  width: 4px;
  background-color: black;
  transform: translateX(15px) translateY(-12px);
  transition: height 0.1s ease-out;
}

/* Progress Circle Styling */
.progress {
  position: relative;
  width: 40px;
  margin: 0;
  padding: 0;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 10px;
  fill: #fafafa;
}

.bg {
  stroke: #b63e96;
  stroke-width: 2px;
}

.progress .indicator {
  stroke: var(--accent);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  height: 12px;
  width: 0px;
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}
.progress-container {
  position: relative;
  top: 0;
  left: -1rem;
}

/* Yeni animasyonlu nokta için */
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.pulse-dot {
  animation: pulse 1.5s infinite ease-in-out;
  fill: #b63e96;
}
